### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "/Users/ismahanadan/Desktop/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data = "/Users/ismahanadan/Desktop/pandas-challenge/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name","school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Total num of schools, students and budget

num_schools = len(school_data_complete_df["School ID"].unique())
num_students = len(school_data_complete_df["Student ID"].unique()) 
school_money = school_data_df["budget"].sum()

#Calculate average math score and reading score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_reading_score = school_data_complete_df["reading_score"].mean()

#Calculate percentage of students who scored 70 or greater in math and reading
passingmath_student_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passingmath_student_count / float(num_students) * 100
passingreading_student_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passingreading_student_count / float(num_students) * 100
reading_math_passing_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)&
                                                     (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
reading_math_passing_percentage = reading_math_passing_count / float(num_students) * 100

In [3]:
#reading_math_passing_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)&
                                                     #(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
#reading_math_passing_count

In [4]:
#District Summary
district_summary_df = pd.DataFrame({"Total Schools" :[num_schools],
                           "Total Students":[num_students],
                          "Total Budget" :[school_money],
                          "Average Math Score" :[avg_math_score],
                          "Average Reading Score" :[avg_reading_score],
                          "% Passing Math" :[passing_math_percentage],
                          "% Passing Reading" :[passing_reading_percentage],
                        "% Overall Passing" :[reading_math_passing_percentage]})


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [5]:
school_data_complete_df.set_index("student_name")

,Student ID,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
student_name,,,,,,,,,,
Paul Bradley,0,M,9th,Huang High School,66,79,0,District,2917,1910635
Victor Smith,1,M,12th,Huang High School,94,61,0,District,2917,1910635
Kevin Rodriguez,2,M,12th,Huang High School,90,60,0,District,2917,1910635
Dr. Richard Scott,3,M,12th,Huang High School,67,58,0,District,2917,1910635
Bonnie Ray,4,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Donna Howard,39165,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
Dawn Bell,39166,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
Rebecca Tanner,39167,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
Desiree Kidd,39168,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
Carolyn Jackson,39169,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [6]:
#Total num of schools, students and budget

#school_types = school_data_complete_df.groupby(["school_name"]).count() ["type"]
#num_students = school_data_complete_df.groupby(["school_name"]).count() ["student_name"]
#school_budget = school_data_df.groupby(["school_name"]).sum()["budget"]
#per_student_budget = school_data_complete_df.groupby(["school_name"]).mean()
#per_student_budget['Per Student Budget'] = per_student_budget['budget']/per_student_budget['size']



#Calculate average math score and reading score
#avg_math_score = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
#avg_reading_score = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]

#Calculate percentage of students who scored 70 or greater in math and reading
#passingmath_student_count = school_data_complete_df.groupby(["school_name"])[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
#passing_math_percentage = passingmath_student_count / float(num_students) * 100
#passingreading_student_count = school_data_complete_df.groupby(["school_name"])[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
#passing_reading_percentage = passingreading_student_count / float(num_students) * 100
#reading_math_passing_count = school_data_complete_df.groupby(["school_name"])[(school_data_complete_df["math_score"] >= 70)&
                                                     #(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
#reading_math_passing_percentage = reading_math_passing_count / float(num_students) * 100

In [7]:
name_school = (school_data_complete_df["school_name"]).unique()
name_school

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [8]:
school_types = school_data_complete_df.groupby(["school_name"]).count()["type"]
school_types

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: type, dtype: int64

In [9]:
num_students = school_data_complete_df.groupby(["school_name"]).count()["student_name"]
num_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [10]:
school_budget = school_data_df.groupby(["school_name"]).sum()["budget"]
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [11]:
per_student_budget = school_data_complete_df.groupby(["school_name"]).mean()
per_student_budget

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [12]:
per_student_budget = per_student_budget['budget']/per_student_budget['size']
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [13]:
avg_math_score = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [14]:
avg_reading_score = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [15]:

#passing_math_score = school_data_complete_df.groupby(["school_name"])
#passing_math_score

In [21]:
passingmath_score = school_data_complete_df[school_data_complete_df['math_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["math_score"]
x = passingmath_score["count"] / num_students
passingmath_score.div(num_students, axis=0)* 100

                           count
school_name
Bailey High School     66.680064
Cabrera High School    94.133477
Figueroa High School   65.988471
Ford High School       68.309602
Griffin High School    93.392371
Hernandez High School  66.752967
Holden High School     92.505855
Huang High School      65.683922
Johnson High School    66.057551
Pena High School       94.594595
Rodriguez High School  66.366592
Shelton High School    93.867121
Thomas High School     93.272171
Wilson High School     93.867718
Wright High School     93.333333

In [29]:
passingmath_score = school_data_complete_df[school_data_complete_df['math_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["math_score"]
passingmath_score_percentage = passingmath_score["count"] / num_students
passingmath_score.div(num_students, axis=0)* 100

passingmath_score_percentage

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [17]:
passingreading_score = school_data_complete_df[school_data_complete_df['reading_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["reading_score"]
x = passingreading_score["count"] / num_students
passingreading_score.div(num_students, axis=0)* 100

                           count
school_name
Bailey High School     81.933280
Cabrera High School    97.039828
Figueroa High School   80.739234
Ford High School       79.299014
Griffin High School    97.138965
Hernandez High School  80.862999
Holden High School     96.252927
Huang High School      81.316421
Johnson High School    81.222432
Pena High School       95.945946
Rodriguez High School  80.220055
Shelton High School    95.854628
Thomas High School     97.308869
Wilson High School     96.539641
Wright High School     96.611111

In [18]:
overall_passing_score = passingmath_score = school_data_complete_df[school_data_complete_df['math_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["math_score"]& school_data_complete_df[school_data_complete_df['reading_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["reading_score"]
x = overall_passing_score["count"] / num_students
overall_passing_score.div(num_students, axis=0)* 100

                           count
school_name
Bailey High School     66.318328
Cabrera High School    82.723358
Figueroa High School    8.952187
Ford High School        2.774735
Griffin High School    88.419619
Hernandez High School  66.364617
Holden High School     92.505855
Huang High School      11.107302
Johnson High School    64.713296
Pena High School       94.178794
Rodriguez High School  51.412853
Shelton High School    88.131743
Thomas High School     65.871560
Wilson High School     90.932983
Wright High School     92.444444

## Top Performing Schools (By % Overall Passing)

In [25]:
school_summary_df = pd.DataFrame({"School Name": name_school,
                                  "School Type": school_types,
                                  "Total Students": num_students,
                                  "Total Budget": school_money,
                                  "Per Student Budge": per_student_budget,
                                  "Average Math Score": avg_math_score,
                                  "Average Reading Score": avg_reading_score,
                                  "% Passing Math": x,
                                  "% Passing Reading": passingreading_score,
                                  "% Overall Passing": overall_passing_score})






school_summary_df

,School Name,School Type,Total Students,Total Budget,Per Student Budge,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,,
Bailey High School,Huang High School,4976,4976,24649428,628.0,77.048432,81.033963,0.666801,"(c, o, u, n, t)","(c, o, u, n, t)"
Cabrera High School,Figueroa High School,1858,1858,24649428,582.0,83.061895,83.975780,0.941335,"(c, o, u, n, t)","(c, o, u, n, t)"
Figueroa High School,Shelton High School,2949,2949,24649428,639.0,76.711767,81.158020,0.659885,"(c, o, u, n, t)","(c, o, u, n, t)"
Ford High School,Hernandez High School,2739,2739,24649428,644.0,77.102592,80.746258,0.683096,"(c, o, u, n, t)","(c, o, u, n, t)"
Griffin High School,Griffin High School,1468,1468,24649428,625.0,83.351499,83.816757,0.933924,"(c, o, u, n, t)","(c, o, u, n, t)"
Hernandez High School,Wilson High School,4635,4635,24649428,652.0,77.289752,80.934412,0.667530,"(c, o, u, n, t)","(c, o, u, n, t)"
Holden High School,Cabrera High School,427,427,24649428,581.0,83.803279,83.814988,0.925059,"(c, o, u, n, t)","(c, o, u, n, t)"
Huang High School,Bailey High School,2917,2917,24649428,655.0,76.629414,81.182722,0.656839,"(c, o, u, n, t)","(c, o, u, n, t)"
Johnson High School,Holden High School,4761,4761,24649428,650.0,77.072464,80.966394,0.660576,"(c, o, u, n, t)","(c, o, u, n, t)"
Pena High School,Pena High School,962,962,24649428,609.0,83.839917,84.044699,0.945946,"(c, o, u, n, t)","(c, o, u, n, t)"
Rodriguez High School,Wright High School,3999,3999,24649428,637.0,76.842711,80.744686,0.663666,"(c, o, u, n, t)","(c, o, u, n, t)"
Shelton High School,Rodriguez High School,1761,1761,24649428,600.0,83.359455,83.725724,0.938671,"(c, o, u, n, t)","(c, o, u, n, t)"
Thomas High School,Johnson High School,1635,1635,24649428,638.0,83.418349,83.848930,0.932722,"(c, o, u, n, t)","(c, o, u, n, t)"
Wilson High School,Ford High School,2283,2283,24649428,578.0,83.274201,83.989488,0.938677,"(c, o, u, n, t)","(c, o, u, n, t)"
Wright High School,Thomas High School,1800,1800,24649428,583.0,83.682222,83.955000,0.933333,"(c, o, u, n, t)","(c, o, u, n, t)"

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [20]:
overall_passing = school_summary_df.sort_values([], descending=True)
overall_passing

TypeError: sort_values() got an unexpected keyword argument 'descending'

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type