### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data = "/Users/ismahanadan/Desktop/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data = "/Users/ismahanadan/Desktop/pandas-challenge/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name","school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Total num of schools, students and budget

num_schools = len(school_data_complete_df["School ID"].unique())
num_students = len(school_data_complete_df["Student ID"].unique()) 
school_money = school_data_df["budget"].sum()

#Calculate average math score and reading score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_reading_score = school_data_complete_df["reading_score"].mean()

#Calculate percentage of students who scored 70 or greater in math and reading
passingmath_student_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passingmath_student_count / float(num_students) * 100
passingreading_student_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passingreading_student_count / float(num_students) * 100
reading_math_passing_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)&
                                                     (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
reading_math_passing_percentage = reading_math_passing_count / float(num_students) * 100

In [3]:
#reading_math_passing_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)&
                                                     #(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
#reading_math_passing_count

In [4]:
#District Summary
district_summary_df = pd.DataFrame({"Total Schools" :[num_schools],
                           "Total Students":[num_students],
                          "Total Budget" :[school_money],
                          "Average Math Score" :[avg_math_score],
                          "Average Reading Score" :[avg_reading_score],
                          "% Passing Math" :[passing_math_percentage],
                          "% Passing Reading" :[passing_reading_percentage],
                        "% Overall Passing" :[reading_math_passing_percentage]})


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [6]:
#Total num of schools, students and budget
school_types = school_data.set_index(["school_name"])["type"] 
num_students = len(school_data_complete_df["school_name"].unique()) 
per_student_money = school_money / float(num_students)
school_money = school_data_df["budget"].sum()

#Calculate average math score and reading score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_reading_score = school_data_complete_df["reading_score"].mean()

#Calculate percentage of students who scored 70 or greater in math and reading
passingmath_student_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passingmath_student_count / float(num_students) * 100
passingreading_student_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passingreading_student_count / float(num_students) * 100
reading_math_passing_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)&
                                                     (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
reading_math_passing_percentage = reading_math_passing_count / float(num_students) * 100

AttributeError: 'str' object has no attribute 'set_index'

## Top Performing Schools (By % Overall Passing)

In [ ]:
school_summary_df = pd.DataFrame({"School Name": school_types,
                                  "Total Students": num_students,
                                  "Per Student Budge": per_student_money,
                                  "Total Budget": school_money,
                                  "Average Math Score": avg_math_score,
                                  "Average Reading Score": avg_reading_score,
                                  "% Passing Math": passing_math_percentage,
                                  "% Passing Reading": passing_reading_percentage,
                                  "% Overall Passing": reading_math_passing_percentage})



school_summary_df

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type