### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data = "/Users/ismahanadan/Desktop/pandas-challenge/PyCitySchools/Resources/schools_complete.csv"
student_data = "/Users/ismahanadan/Desktop/pandas-challenge/PyCitySchools/Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data_df = pd.read_csv(school_data)
student_data_df = pd.read_csv(student_data)

# Combine the data into a single dataset.  
school_data_complete_df = pd.merge(student_data_df, school_data_df, how="left", on=["school_name","school_name"])
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Total num of schools, students and budget

num_schools = len(school_data_complete_df["School ID"].unique())
num_students = len(school_data_complete_df["Student ID"].unique()) 
school_money = school_data_df["budget"].sum()

#Calculate average math score and reading score
avg_math_score = school_data_complete_df["math_score"].mean()
avg_reading_score = school_data_complete_df["reading_score"].mean()

#Calculate percentage of students who scored 70 or greater in math and reading
passingmath_student_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passingmath_student_count / float(num_students) * 100
passingreading_student_count = school_data_complete_df[(school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passingreading_student_count / float(num_students) * 100
reading_math_passing_count = school_data_complete_df[(school_data_complete_df["math_score"] >= 70)&
                                                     (school_data_complete_df["reading_score"] >= 70)].count()["student_name"]
reading_math_passing_percentage = reading_math_passing_count / float(num_students) * 100

In [3]:
#District Summary
district_summary_df = pd.DataFrame({"Total Schools" :[num_schools],
                           "Total Students":[num_students],
                          "Total Budget" :[school_money],
                          "Average Math Score" :[avg_math_score],
                          "Average Reading Score" :[avg_reading_score],
                          "% Passing Math" :[passing_math_percentage],
                          "% Passing Reading" :[passing_reading_percentage],
                        "% Overall Passing" :[reading_math_passing_percentage]})


district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
school_data_complete_df.set_index("student_name")

,Student ID,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
student_name,,,,,,,,,,
Paul Bradley,0,M,9th,Huang High School,66,79,0,District,2917,1910635
Victor Smith,1,M,12th,Huang High School,94,61,0,District,2917,1910635
Kevin Rodriguez,2,M,12th,Huang High School,90,60,0,District,2917,1910635
Dr. Richard Scott,3,M,12th,Huang High School,67,58,0,District,2917,1910635
Bonnie Ray,4,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Donna Howard,39165,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
Dawn Bell,39166,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
Rebecca Tanner,39167,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
Desiree Kidd,39168,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
Carolyn Jackson,39169,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [5]:
name_school = (school_data_complete_df["school_name"]).unique()
name_school

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [6]:
school_types = school_data_complete_df.groupby(["school_name"]).count()["type"]
#school_types
#school_types = school_data_complete_df.groupby(["school_name", "type"]).sum()
                                                                            
school_types

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: type, dtype: int64

In [7]:
num_students = school_data_complete_df.groupby(["school_name"]).count()["student_name"]
num_students

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [8]:
school_budget = school_data_df.groupby(["school_name"]).sum()["budget"]
school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [9]:
per_student_budget = school_data_complete_df.groupby(["school_name"]).mean()
per_student_budget

,Student ID,reading_score,math_score,School ID,size,budget
school_name,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0
Hernandez High School,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0
Holden High School,23060.0,83.814988,83.803279,8.0,427.0,248087.0
Huang High School,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0
Johnson High School,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0
Pena High School,23754.5,84.044699,83.839917,9.0,962.0,585858.0
Rodriguez High School,28035.0,80.744686,76.842711,11.0,3999.0,2547363.0
Shelton High School,6746.0,83.725724,83.359455,2.0,1761.0,1056600.0
Thomas High School,38352.0,83.848930,83.418349,14.0,1635.0,1043130.0
Wilson High School,14871.0,83.989488,83.274201,5.0,2283.0,1319574.0
Wright High School,25135.5,83.955000,83.682222,10.0,1800.0,1049400.0

In [10]:
per_student_budget = per_student_budget['budget']/per_student_budget['size']
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [11]:
avg_math_score = school_data_complete_df.groupby(["school_name"]).mean()["math_score"]
avg_math_score

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [12]:
avg_reading_score = school_data_complete_df.groupby(["school_name"]).mean()["reading_score"]
avg_reading_score

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [13]:
passingmath_score = school_data_complete_df[school_data_complete_df['math_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["math_score"]
x = passingmath_score["count"] / num_students
passingmath_score.div(num_students, axis=0)* 100

                           count
school_name
Bailey High School     66.680064
Cabrera High School    94.133477
Figueroa High School   65.988471
Ford High School       68.309602
Griffin High School    93.392371
Hernandez High School  66.752967
Holden High School     92.505855
Huang High School      65.683922
Johnson High School    66.057551
Pena High School       94.594595
Rodriguez High School  66.366592
Shelton High School    93.867121
Thomas High School     93.272171
Wilson High School     93.867718
Wright High School     93.333333

In [14]:
passingmath_score = school_data_complete_df[school_data_complete_df['math_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["math_score"]
passingmath_score_percentage = passingmath_score["count"] / num_students
passingmath_score.div(num_students, axis=0)* 100

passingmath_score_percentage

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [15]:
passingreading_score = school_data_complete_df[school_data_complete_df['reading_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["reading_score"]
passingreading_score_percentage = passingreading_score["count"] / num_students
passingreading_score.div(num_students, axis=0)* 100
passingreading_score_percentage

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [16]:
overall_passing_score = passingmath_score = school_data_complete_df[school_data_complete_df['math_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["math_score"]& school_data_complete_df[school_data_complete_df['reading_score'] >= 70].groupby(school_data_complete_df['school_name']).agg(["count"])["reading_score"]
overall_passing_score_percentage = overall_passing_score["count"] / num_students
overall_passing_score.div(num_students, axis=0)* 100
overall_passing_score_percentage

school_name
Bailey High School       0.663183
Cabrera High School      0.827234
Figueroa High School     0.089522
Ford High School         0.027747
Griffin High School      0.884196
Hernandez High School    0.663646
Holden High School       0.925059
Huang High School        0.111073
Johnson High School      0.647133
Pena High School         0.941788
Rodriguez High School    0.514129
Shelton High School      0.881317
Thomas High School       0.658716
Wilson High School       0.909330
Wright High School       0.924444
dtype: float64

In [47]:
school_summary_df = pd.DataFrame({
                                  "School Type": school_types,
                                  "Total Students": num_students,
                                  "Total Budget": school_money,
                                  "Per Student Budget": per_student_budget,
                                  "Average Math Score": avg_math_score,
                                  "Average Reading Score": avg_reading_score,
                                  "% Passing Math": passingmath_score_percentage,
                                  "% Passing Reading": passingreading_score_percentage,
                                  "% Overall Passing": overall_passing_score_percentage})






school_summary_df

,School Type,Total Students,Total Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,4976,4976,24649428,628.0,77.048432,81.033963,0.666801,0.819333,0.663183
Cabrera High School,1858,1858,24649428,582.0,83.061895,83.975780,0.941335,0.970398,0.827234
Figueroa High School,2949,2949,24649428,639.0,76.711767,81.158020,0.659885,0.807392,0.089522
Ford High School,2739,2739,24649428,644.0,77.102592,80.746258,0.683096,0.792990,0.027747
Griffin High School,1468,1468,24649428,625.0,83.351499,83.816757,0.933924,0.971390,0.884196
Hernandez High School,4635,4635,24649428,652.0,77.289752,80.934412,0.667530,0.808630,0.663646
Holden High School,427,427,24649428,581.0,83.803279,83.814988,0.925059,0.962529,0.925059
Huang High School,2917,2917,24649428,655.0,76.629414,81.182722,0.656839,0.813164,0.111073
Johnson High School,4761,4761,24649428,650.0,77.072464,80.966394,0.660576,0.812224,0.647133
Pena High School,962,962,24649428,609.0,83.839917,84.044699,0.945946,0.959459,0.941788
Rodriguez High School,3999,3999,24649428,637.0,76.842711,80.744686,0.663666,0.802201,0.514129
Shelton High School,1761,1761,24649428,600.0,83.359455,83.725724,0.938671,0.958546,0.881317
Thomas High School,1635,1635,24649428,638.0,83.418349,83.848930,0.932722,0.973089,0.658716
Wilson High School,2283,2283,24649428,578.0,83.274201,83.989488,0.938677,0.965396,0.909330
Wright High School,1800,1800,24649428,583.0,83.682222,83.955000,0.933333,0.966111,0.924444

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [18]:
#top_performing_schools_byoverall = school_summary_df.groupby("schoo_name").sort_values("% Overall Passing", ascending=False)
school_summary_df.sort_values("% Overall Passing", ascending=False)
#top_performing_schools_byoverall

,School Type,Total Students,Total Budget,Per Student Budge,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Pena High School,962,962,24649428,609.0,83.839917,84.044699,0.945946,0.959459,0.941788
Holden High School,427,427,24649428,581.0,83.803279,83.814988,0.925059,0.962529,0.925059
Wright High School,1800,1800,24649428,583.0,83.682222,83.955000,0.933333,0.966111,0.924444
Wilson High School,2283,2283,24649428,578.0,83.274201,83.989488,0.938677,0.965396,0.909330
Griffin High School,1468,1468,24649428,625.0,83.351499,83.816757,0.933924,0.971390,0.884196
Shelton High School,1761,1761,24649428,600.0,83.359455,83.725724,0.938671,0.958546,0.881317
Cabrera High School,1858,1858,24649428,582.0,83.061895,83.975780,0.941335,0.970398,0.827234
Hernandez High School,4635,4635,24649428,652.0,77.289752,80.934412,0.667530,0.808630,0.663646
Bailey High School,4976,4976,24649428,628.0,77.048432,81.033963,0.666801,0.819333,0.663183
Thomas High School,1635,1635,24649428,638.0,83.418349,83.848930,0.932722,0.973089,0.658716
Johnson High School,4761,4761,24649428,650.0,77.072464,80.966394,0.660576,0.812224,0.647133
Rodriguez High School,3999,3999,24649428,637.0,76.842711,80.744686,0.663666,0.802201,0.514129
Huang High School,2917,2917,24649428,655.0,76.629414,81.182722,0.656839,0.813164,0.111073
Figueroa High School,2949,2949,24649428,639.0,76.711767,81.158020,0.659885,0.807392,0.089522
Ford High School,2739,2739,24649428,644.0,77.102592,80.746258,0.683096,0.792990,0.027747

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [19]:
#school_summary_df.groupby('School Name').sum().sort_values('% Overall Passing', ascending=True)

school_summary_df.sort_values("% Overall Passing", ascending=True)

,School Type,Total Students,Total Budget,Per Student Budge,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Ford High School,2739,2739,24649428,644.0,77.102592,80.746258,0.683096,0.792990,0.027747
Figueroa High School,2949,2949,24649428,639.0,76.711767,81.158020,0.659885,0.807392,0.089522
Huang High School,2917,2917,24649428,655.0,76.629414,81.182722,0.656839,0.813164,0.111073
Rodriguez High School,3999,3999,24649428,637.0,76.842711,80.744686,0.663666,0.802201,0.514129
Johnson High School,4761,4761,24649428,650.0,77.072464,80.966394,0.660576,0.812224,0.647133
Thomas High School,1635,1635,24649428,638.0,83.418349,83.848930,0.932722,0.973089,0.658716
Bailey High School,4976,4976,24649428,628.0,77.048432,81.033963,0.666801,0.819333,0.663183
Hernandez High School,4635,4635,24649428,652.0,77.289752,80.934412,0.667530,0.808630,0.663646
Cabrera High School,1858,1858,24649428,582.0,83.061895,83.975780,0.941335,0.970398,0.827234
Shelton High School,1761,1761,24649428,600.0,83.359455,83.725724,0.938671,0.958546,0.881317
Griffin High School,1468,1468,24649428,625.0,83.351499,83.816757,0.933924,0.971390,0.884196
Wilson High School,2283,2283,24649428,578.0,83.274201,83.989488,0.938677,0.965396,0.909330
Wright High School,1800,1800,24649428,583.0,83.682222,83.955000,0.933333,0.966111,0.924444
Holden High School,427,427,24649428,581.0,83.803279,83.814988,0.925059,0.962529,0.925059
Pena High School,962,962,24649428,609.0,83.839917,84.044699,0.945946,0.959459,0.941788

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [20]:
ninth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

math_scores_by_9grade = ninth_grade.groupby(["school_name"]).mean()["math_score"]
math_scores_by_9grade

school_name
Bailey High School       77.083676
Cabrera High School      83.094697
Figueroa High School     76.403037
Ford High School         77.361345
Griffin High School      82.044010
Hernandez High School    77.438495
Holden High School       83.787402
Huang High School        77.027251
Johnson High School      77.187857
Pena High School         83.625455
Rodriguez High School    76.859966
Shelton High School      83.420755
Thomas High School       83.590022
Wilson High School       83.085578
Wright High School       83.264706
Name: math_score, dtype: float64

In [21]:
tenth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

math_scores_by_10grade = tenth_grade.groupby(["school_name"]).mean()["math_score"]
math_scores_by_10grade

school_name
Bailey High School       76.996772
Cabrera High School      83.154506
Figueroa High School     76.539974
Ford High School         77.672316
Griffin High School      84.229064
Hernandez High School    77.337408
Holden High School       83.429825
Huang High School        75.908735
Johnson High School      76.691117
Pena High School         83.372000
Rodriguez High School    76.612500
Shelton High School      82.917411
Thomas High School       83.087886
Wilson High School       83.724422
Wright High School       84.010288
Name: math_score, dtype: float64

In [22]:
eleveth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

math_scores_by_11grade = eleveth_grade.groupby(["school_name"]).mean()["math_score"]
math_scores_by_11grade

school_name
Bailey High School       77.515588
Cabrera High School      82.765560
Figueroa High School     76.884344
Ford High School         76.918058
Griffin High School      83.842105
Hernandez High School    77.136029
Holden High School       85.000000
Huang High School        76.446602
Johnson High School      77.491653
Pena High School         84.328125
Rodriguez High School    76.395626
Shelton High School      83.383495
Thomas High School       83.498795
Wilson High School       83.195326
Wright High School       83.836782
Name: math_score, dtype: float64

In [23]:
twelfth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "12th")]

math_scores_by_12grade = twelfth_grade.groupby(["school_name"]).mean()["math_score"]
math_scores_by_12grade

school_name
Bailey High School       76.492218
Cabrera High School      83.277487
Figueroa High School     77.151369
Ford High School         76.179963
Griffin High School      83.356164
Hernandez High School    77.186567
Holden High School       82.855422
Huang High School        77.225641
Johnson High School      76.863248
Pena High School         84.121547
Rodriguez High School    77.690748
Shelton High School      83.778976
Thomas High School       83.497041
Wilson High School       83.035794
Wright High School       83.644986
Name: math_score, dtype: float64

In [24]:
math_scores_bygrade_df = pd.DataFrame({
                                        "9th": math_scores_by_9grade,
                                         "10th": math_scores_by_10grade,
                                         "11th": math_scores_by_11grade,
                                         "12th": math_scores_by_12grade})

math_scores_bygrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [25]:
read_ninth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "9th")]

read_scores_by_9grade = read_ninth_grade.groupby(["school_name"]).mean()["reading_score"]
read_scores_by_9grade

school_name
Bailey High School       81.303155
Cabrera High School      83.676136
Figueroa High School     81.198598
Ford High School         80.632653
Griffin High School      83.369193
Hernandez High School    80.866860
Holden High School       83.677165
Huang High School        81.290284
Johnson High School      81.260714
Pena High School         83.807273
Rodriguez High School    80.993127
Shelton High School      84.122642
Thomas High School       83.728850
Wilson High School       83.939778
Wright High School       83.833333
Name: reading_score, dtype: float64

In [26]:
read_tenth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "10th")]

read_scores_by_10grade = read_tenth_grade.groupby(["school_name"]).mean()["reading_score"]
read_scores_by_10grade

school_name
Bailey High School       80.907183
Cabrera High School      84.253219
Figueroa High School     81.408912
Ford High School         81.262712
Griffin High School      83.706897
Hernandez High School    80.660147
Holden High School       83.324561
Huang High School        81.512386
Johnson High School      80.773431
Pena High School         83.612000
Rodriguez High School    80.629808
Shelton High School      83.441964
Thomas High School       84.254157
Wilson High School       84.021452
Wright High School       83.812757
Name: reading_score, dtype: float64

In [27]:
read_eleveth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

read_scores_by_11grade = read_eleveth_grade.groupby(["school_name"]).mean()["reading_score"]
read_scores_by_11grade

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [28]:
read_twelfth_grade = school_data_complete_df[(school_data_complete_df["grade"] == "11th")]

read_scores_by_12grade = read_twelfth_grade.groupby(["school_name"]).mean()["reading_score"]
read_scores_by_12grade

school_name
Bailey High School       80.945643
Cabrera High School      83.788382
Figueroa High School     80.640339
Ford High School         80.403642
Griffin High School      84.288089
Hernandez High School    81.396140
Holden High School       83.815534
Huang High School        81.417476
Johnson High School      80.616027
Pena High School         84.335938
Rodriguez High School    80.864811
Shelton High School      84.373786
Thomas High School       83.585542
Wilson High School       83.764608
Wright High School       84.156322
Name: reading_score, dtype: float64

In [30]:
reading_scores_bygrade_df = pd.DataFrame({
                                        "9th": read_scores_by_9grade,
                                         "10th": read_scores_by_10grade,
                                         "11th": read_scores_by_11grade,
                                         "12th": read_scores_by_12grade})

reading_scores_bygrade_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.945643
Cabrera High School    83.676136  84.253219  83.788382  83.788382
Figueroa High School   81.198598  81.408912  80.640339  80.640339
Ford High School       80.632653  81.262712  80.403642  80.403642
Griffin High School    83.369193  83.706897  84.288089  84.288089
Hernandez High School  80.866860  80.660147  81.396140  81.396140
Holden High School     83.677165  83.324561  83.815534  83.815534
Huang High School      81.290284  81.512386  81.417476  81.417476
Johnson High School    81.260714  80.773431  80.616027  80.616027
Pena High School       83.807273  83.612000  84.335938  84.335938
Rodriguez High School  80.993127  80.629808  80.864811  80.864811
Shelton High School    84.122642  83.441964  84.373786  84.373786
Thomas High School     83.728850  84.254157  83.585542  83.585542
Wilson High School     83.939778  84.021452  83.764608  83.764608
Wright High School     83.833333  83.812757  84.156322  84.156322

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [46]:
#Max and Min per student amounts

print(school_summary_df["Per Student Budget"].max()
print(school_summary_df["Per Student Budget"].min())

KeyError: 'Per Student Budget'

In [40]:
#Create the bins for spending ranges
bins = [[0, 585, 630, 645, 680]]
#Create group labels
group_labels = [0- 585, 586-630, 631-645, 646-680]

scores_school_spending = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels).head()

scores_school_spending
#per_student_spending_df = school_summary_df.groupby("Per Student Budge")
#per_student_spending_df[["Average Math Score", "Average Reading Score", "% Passing Math"]].mean()
#per_student_spending_df

KeyError: 'Per Student Budget'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
performance_by_school_size_df = school_data_complete_df.groupby("size")
performance_by_school_size_df.max()

## Scores by School Type

* Perform the same operations as above, based on school type